*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    text-align: center;
    text-decoration: none;
}

h1
{
    /* font size */
    font-size: 3vw;
    font-weight: normal;
    text-align: center;
    /* colors */
    color: rgb(50, 50, 50);
}

.subtitle
{        
    width: 100%;
    margin: 0 auto;
    /* font size */
    font-size: 0.8vw;
    /* colors */
    color: rgb(50, 50, 50);
}

h2
{
    width: 60%;
	padding: 0px 0px 1vw 0px;
	margin: 0 auto 1vw auto;
    /* font stuff */
    font-weight: normal;
    text-align:center;
    font-size: 2.5vw;
    /* colors */
    color: rgb(50, 50, 50);
    border-bottom: 2px solid rgb(100, 100, 100);
}

p
{
    width: 60%;
    font-size:1vw;
	margin: 0 auto 20 auto;
}

.emptyspace
{
	 margin: 0px 0px 2.5vw 0px;
}

.main
{
    width: 100%;
    padding: 10px 0px;
    z-index: -2;
}

.sticky
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    z-index: 1;
}

.bar
{
    width: 100%;
    height: 8vw;
    /* colors */
    border-bottom: 2px solid rgb(50, 50, 50);
    background-color: lightgray;
}

.titlebar
{
    position: absolute;
    /* position & size */
    width: 100%;
    margin: 0 auto;
}

.navigation
{        
    list-style: none;
    /* position & size */
    position: relative;
    top: -1.75vw;
    padding: 0;
    margin: 0 auto;
    width: 60%;
}

.navigation a
{        
    /* position & size */
    float:left;
    padding: 0;
    margin: 0;
    width: 25%;
    /* font */
    font-size: 1.5vw;
    text-align: center;
    text-decoration:none; 
    color: rgb(50, 50, 50);
    /* animation stuff */
    transition: 0.3s;
}

.navigation a:hover
{    
    /* font */
    color: rgb(120, 120, 120);
    /* animation stuff */
    transition: 0.3s;
}

.portfolio
{
    width: 60%;

    /* position & size */
    margin: 2vw auto 0px auto;
}

.portfolio-row
{
    width: 100%;
    height: 20vw;
    margin: 0vw auto 1vw auto;
}

.portfolio-element
{   
    float: left;

    /* position & size */
    width: 50%;
    height: 19vw;
}

.portfolio-element img
{
    /* position & size */
    width: 90%;
    height: 100%;
    /* image */
    object-fit: fill;
    border-radius: 2vw;
    filter: brightness(100%);
    /* animation stuff */
    transition: 0.3s;
}

.portfolio-element:hover img
{
    /* image */
    filter: brightness(30%);
    /* animation stuff */
    transition: 0.3s;
}

.portfolio-element p
{
    position: relative;
    /* position & size */
    width: 100%;
    bottom: 40%;

    /* font */
    font-size: 3.5vw;
    color: rgb(216, 216, 216);
    text-align: center;
    opacity: 0.0;

    /* animation stuff */
    transition: 0.45s;
}

.portfolio-element:hover p
{
    /* image */
    opacity: 1.0;
    /* animation stuff */
    transition: 0.45s;
}

a.anchor
{
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

.image-element
{   
    position: relative; 

    /* position & size */
    width: 470px;
    height: 300px;

    padding: 0px 0px 20px 0px;
}

.image-element img
{
    /* position & size */
    width: 100%;
    height: 100%;
    /* image */
    object-fit: fill;
    border-radius: 35px;
}