*
{
	font-family: "Verdana", sans-serif;
}

body
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	margin:auto;
	width:960px;
	padding: 0px 25px 25px 25px;
	font-size:16px;
}

h1
{
	text-align: left;
	font-weight: 600;
	font-size:18px;
	margin:auto;
}

p
{
	text-align: justify;
}

.floatingheader
{
	height:130px;
	background: white;
	top: 0px;	
	margin: 0px 0px 0px -25px;
	width:960px;
	padding: 0px 25px;	
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name
{
	position: relative;

	top: 0px;

	text-align: center;
	font-size: 40pt;
	font-weight: normal;
	margin: 0;
}

#subtitle
{
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	padding: 0px 0px 10px 0px;

	top: 65px;
	margin: 0;
}

#links
{	
	text-align:center;
	list-style-type: none;
	margin:0;
	padding: 0px 0px 20px 0px;
	top: 100px;
}

li 
{
  display: inline;
  padding-left:50px;
  padding-right:50px;
  font-size: 16px;
}

.sticky
{
	position: -webkit-sticky;
	position: sticky;
	z-index:9999;
}

.anchorpoint
{
	position:absolute; 
	top:-150px;
}

.game
{	
	position: relative;

	width:960px;
	height:290px;
	background: white;  
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gameimage
{
	position: absolute;

	width:400px;
	height:270px;
	background: orange;

	left: 10px;
	top: 10px;
}

.gametitle
{
	position: absolute;

	width: 530px;
	height: 30px;

	left: 420px;
	top: 10px;
}

.gametext
{
	position: absolute;

	width: 530px;
	height: 210px;

	margin: 0;
	padding:0;

	left: 420px;
	top: 40px;
}

.gamelink
{
	position: absolute;

	width: 430px;
	height: 30px;

	left: 420px;
	bottom: 10px;
}

.gamereleasedate
{
	position: absolute;

	width: 100px;
	height: 30px;

	right: 10px;
	bottom: 10px;
}

p.gamereleasedatetext
{
	font-size:8pt;
	text-align: center;
	font-weight: bold;
	margin:0;
}